/* .item-info {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.item-info span {
	margin-left: 30px;
	font-weight: 700;
}

.item-icon {
	width: 25px;
	height: 25px;
} */
